<div class="row footer_line">
      <img src="../../assets/images/user-default.png" class="col-md-3">
      <div class="col-md-4 userDesc_block">
        <p class="name_desc">Somesh Kanti</p>
        <ul class="user_details">
            <li>$35  | 475 likes</li>
            <li>350m | 10 mins away</li>
        </ul>
        <p class="qoute">"Travel for me is going back home..."</p>
      </div>
      <div class="col-md-5 text-center">
        <img src="../../assets/images/sceen.jpg" class="col-md-7">
      </div>
  
</div>

